PORT=3000
MONGO_URI=mongodb://localhost:27017/nodejs_app
NODE_ENV=development
JWT_SECRET=your-super-secret-key-change-this
JWT_EXPIRES_IN=7d
REDIS_URI=redis://localhost:6379

# Email Configuration
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=